{# view/template.html.twig #}
{# Ceci est un enfant de base.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ racine }}assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ racine }}css/styles.css" rel="stylesheet" />

{% endblock %}
{% block body %}
    {% block menu %}
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="{{ racine }}">Twig</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ racine }}">Accueil</a></li>
                        {% block categ %}
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block head %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">
                                {% block h1 %}Voici la Page d'accueil de notre premier site en Twig {% endblock %}</h1>

                            <p class="lead text-white-50 mb-4">{% block leadtext %}Ce site en MVC PHP OO est un exemple pour voir les bases de Twig pour les développeurs et les designeurs{% endblock %}</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://github.com/WebDevCF2m2022/twig" target="_blank">Sur Github</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="https://twig.symfony.com/" target="_blank">Documentation Twig</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block content %}
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    {% block articles %}
                        {% for item in mesArticles %}
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">{{ item.thearticletitle }}</h2>
                        <p>{{ item.thearticleresume|u.truncate(120, '...', false) }}</p>
                        <a class="text-decoration-none" href="/articles/{{ item.thearticleslug }}">
                            Lire la suite
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                          {% endfor %}
                       {% endblock %}
            </div>
        </section>
    {% endblock %}
    {% block footer %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Notre site Twig  {{ "now"|date("Y") }} </p></div>
        </footer>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->

    <script src="{{ racine }}js/scripts.js"></script>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>{% endblock %}
